
<scroll-container>
<div class = "container p-4 " >
    <div class="row">
      <div class="mx-auto">
        <form action="/Ingreso/add" method="post"  > 
        <div class="form-group">
            <label for="Comedor" class="col-sm-2 col-form-label" align="center"> Ingresar Comedor </label>
            <input class="form-control" placeholder="Comedor"    type="text" id="Comedor"  name="Comedor" required/>
             <br/>
            <label for="Nombre" class="col-sm-2 col-form-label" align="center"> Ingresar Nombre </label>
            <input class="form-control" placeholder="Nombre" type="text" id="Nombre" name="Nombre"  min= "0"  required/>
             <br/>
            
          <div class="col-sm-5" align="center" class="contenedor">

            
            <br/>
            
            <label for="Datos" class="col-sm-2 col-form-label" align="center"> Datos del niñe </label>
            <input class="form-control" placeholder="Fecha de Nacimiento" type="date" id="FechaNacimiento" name="FechaNacimiento"  min= "0" required/>
            <input class="form-control" placeholder="Edad"    type="number" id="edad"  name="edad"   min= "0" required/>
            
            <br/>    
            
            
            <input class="form-control" placeholder="Cintura" type="number" id="Cintura" name="Cintura"  min= "0" required/>
            <input class="form-control" placeholder="Altura"    type="number" id="altura"  name="altura"   min= "0"  required/>
            <input class="form-control" placeholder="Peso" type="number" id="peso" name="peso"  min= "0"  required/>
            
            
            <br/>    
            <input class="form-control" placeholder="Cantidad de Yougurt"    type="number" id="CantYougurt"  name="CantYougurt"  min= "0" required/>
           <br/>  
          </div>
        </div> 
      <button class="btn btn-success btn-block">
          Guardar
      </button>   
      <a href="/MenuPpal" class="btn btn-secondary">Volver</a>           
     </form>
     <footer class="footer">
     </footer>
    </div>
  </div>
</div>
</scroll-container> <!---->