<div class="container p-2"> 
{{#if user}} 
    <div class="row">     
       <div class="card text-center">
           <div class="card-body">
               <h2>Bienvenido {{user.fullname}}</h2>
               <br>
               <h1>Yougurt Proteico</h1>
           </div>
        </div>
    </div>  
    
    <div class="card text-center">
        <div class="card-body">
            <a href="/resultados" class="btn btn-secondary">Mostrar Resultados por Nombre</a> 
        </div>

    <div class="card text-center">
        <div class="card-body">
            <a href="/Ingreso/add" class="btn btn-info">Ingresar nuevo niñe</a> 
        </div>
    </div>
    <div class="card text-center">

    <div class="card-body">
            <a href="/Update/nombre_update" class="btn btn-info">Actulizar niñe</a> 
        </div>
    </div>
    <div class="card text-center">
    <div class="card-body">
        <a href="/logout" class="btn btn-danger">Salir</a> 
    </div>
</div>
{{/if}}


</div>